<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  </head>

  <body>
    <header>
      <div class="container">
        <h1>meleu.github.io</h1>
        <h2>Tentando fazer do github meu novo lar na web.</h2>
      </div>
    </header>
    
    <nav>
    <ul>
      <li><a href="/">$HOME</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blog">blog</a></li>
    </ul>
    </nav>
    
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    
		<footer>
  		<ul>
	   		<li><a href="mailto:meleuzord arroba yahoo.com">email</a></li>
	      <li><a href="https://github.com/meleu">github.com/meleu</a></li>
			</ul>
		</footer>
	</body>
</html>
