<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
  </head>

  <body>
    <header>
      <div class="container">
        <h1>{{ page.title }}</h1>
        <h2>Tentando fazer do github meu novo lar na web.</h2>
        {% include menu.html %}
      </div>
    </header>
    
    
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    
    <hr>
      <footer>
        {% include menu.html %}
      </footer>
  </body>
</html>
