<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  </head>

  <body>
    <header>
      <div class="container">
        <h1>meleu.github.io</h1>
        <h2>Tentando fazer do github meu novo lar na web.</h2>
      </div>
    </header>
    
    <nav>
    <center>
	[ <a href="/">$HOME</a> ]
	[ <a href="/about">about</a> ]
	[ <a href="/blog">blog</a> ]
    </center>
    <hr width=100%>
    </nav>
    
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    
    <hr width=100%>
    <footer>
      <ul>
	<li><a href="mailto:meleuzord arroba yahoo.com">email</a></li>
	<li><a href="https://github.com/meleu">github.com/meleu</a></li>
      </ul>
    </footer>
  </body>
</html>
